body{
	margin: 0px;
	background-color: white;
}
 #nav_bar{
 	width: 80%;
 	height: 80px;
 	background-color:  #FFB4B0;
 	border: 2px solid black;
 	margin: auto;
 	margin-top: 20px;
 	position: relative;
 }

 .header_text{
 	display: inline;
 }

 #nav_bar ul{
 	margin-top: 30px;
 }

 #nav_bar ul li{
 	border-right: 2px solid black;
 	padding:  3px 10px; 
 }

#sidebars_holder{
 	height: 430px;
 	width: 80%;
 	display: block;
 	margin: auto;
 	margin-top: 20px;
 	position: relative;
 }
 	#main_left_sidebar{
 		display: inline-block;
 		width: 28%;
 		border: 2px solid black;
 		height: 100%;
 		background-color: #4DD7FA;	
 		position: absolute;
 		left: 0px;
 		top: 0px;
 	}

 	#main_right_sidebar{
 		background-color: #FEFAC0;
 		width: 68%;
 		border: 2px solid black;
 		height: 100%;
 		display: inline-block;
 		position: absolute;
 		right: 0px;
 		top: 0px;
 	}

 	#main_left_sidebar label:first-of-type{
 		margin-top: 20px;
 	}

label{
	padding-left: 10%;
	display: block;	
}

input[type="range"]{
	width: 80%;
	height: 40px;
	display: block;
	margin: auto;
	background-color: white;
}

#ar_select{
	width: 70%;
	display: block;
	margin: auto;
	margin: 10px auto;
}


#al_select{
	width: 70%;
	display: block;
	margin: auto;
	margin: 10px auto;
}

#checkbox_holder{
	display: block;
	width: 63%;
	margin: 10px auto;
}

#checkbox_holder input[type="checkbox"] {
	font-size: 1.3rem;
}

#checkbox_holder li{
	list-style: none;
}

#left_checks, #right_checks{
	display: inline-block;
	width: 45%;
}

#filter_me{
	width: 30%;
	font-size: 1.3rem;
	display: block;
	margin: auto;
	margin-top: 20px;
}

.title_text{
	font-size: 2rem;
	padding-left: 7%;
	margin-bottom: 0px;
	color: #785616;
}

#main_right_sidebar p:first-of-type{
	margin-top: 20px;
}

#main_right_sidebar li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid black;
	padding: 0px 20px;
}
